<html lang="en">
<head>
    <meta charset="utf-8">
    <title>InfoRetrSys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link href="/static/css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="/static/css/charisma-app.css" rel="stylesheet">
    <link href='/static/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='/static/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='/static/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='/static/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='/static/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='/static/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='/static/css/jquery.noty.css' rel='stylesheet'>
    <link href='/static/css/noty_theme_default.css' rel='stylesheet'>
    <link href='/static/css/elfinder.min.css' rel='stylesheet'>
    <link href='/static/css/elfinder.theme.css' rel='stylesheet'>
    <link href='/static/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='/static/css/uploadify.css' rel='stylesheet'>
    <link href='/static/css/animate.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="/static/bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="/static/img/logo1.ico">

    <script>
        function del(event,chuanzhi) {
        var feedback_id = chuanzhi;
        var obj = event.srcElement;
        var truthBeTold = window.confirm("确认是否删除")
        if (truthBeTold) {
            obj.parentNode.parentNode.parentNode.removeChild(obj.parentNode.parentNode);
            {#obj.parentNode.parentNode.parentNode.parentNode.removeChild(obj.parentNode.parentNode.parentNode);#}
            //传值
            console.log(feedback_id);
            $.ajax({
            url:"/deletefeedback/",
            type:'POST',
            data : {feedback_id:feedback_id} ,
            async:false,
            success:function (arg) {
            $(function () {       window.alert("删除成功！");   });
            }
            });

        } else
            return false;
    }




        function export_excel(){
        var csrf=$('input[name="csrfmiddlewaretoken"]').val();
        const req = new XMLHttpRequest();
        req.open('POST', '/export_excel/', true);
        req.responseType = 'blob';
        req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); //设置请求头
        req.send('city='+$('#city').val()+"&&csrfmiddlewaretoken="+csrf); //输入参数
        req.onload = function() {
            const data = req.response;
            const a = document.createElement('a');
            const blob = new Blob([data]);
            const blobUrl = window.URL.createObjectURL(blob);
            console.info("1");
            download(blobUrl) ;
         };
        };

    function download(blobUrl) {
        var city = $("input[name='city']").val();
        var a = document.createElement('a');
        a.style.display = 'none';
        a.download = '<文件命名>.xls';
        a.href = blobUrl;
        {#a.href = 'https://www.baidu.com';#}
        a.click();
        {#console.info("5");#}
        {#document.body.removeChild(a);#}
}
    </script>

</head>

<body style="">
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
	<i>
	<img  src="/static/img/boc_logo_small.png" width="156" height="47" align="left"/>
	</i>
            <a class="navbar-brand" href="/index">
                <span>InfoRetrSys</span></a>

          
            <!-- theme selector starts -->
            
            

           <ul class="collapse navbar-collapse nav navbar-nav top-menu">
        <li>
            <form method='post' action="/show/" name='form1' class="navbar-search pull-left">
                 {% csrf_token %}
                <input placeholder="Search" class="search-query form-control col-md-10" name="search-text" type="text">
            </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <li class="dropdown">
                    <a class="btn btn-success" onclick="document:form1.submit()">
                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                搜索
                 </a>
                </li>
            </li>

            </ul>

        </div>
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">list</li>
                        
                        

                        <li class="accordion">
                            <a href="###"><i class="glyphicon glyphicon-user"></i><span>日常操作管理</span></a>
                            <ul class="nav nav-pills nav-stacked" style="display: none;">
                                <li><a href="/approval">审批</a></li>
                                <li><a href="/admingo">批量上传</a></li>
								<li class="active"><a href="/feedback_show">反馈结果表</a></li>
								<li><a href="/log_show">日志展示</a></li>
                                <li><a href="/maintenance">功能维护</a></li>

                            </ul>
                            <a href="###"><i class="glyphicon glyphicon-user"></i><span>用户管理</span></a>
                            <ul class="nav nav-pills nav-stacked" style="display: none;">
                                <li><a href="/register">用户创建</a></li>
                                <li><a href="/user_management">用户管理</a></li>
                                <li><a href="/user_approval">用户审批</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/feedback_show">反馈结果</a>
            </li>
        </ul>
    </div>

    

    

    

    <!--/row-->

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>反馈结果</h2>

                    <div class="box-icon">
                        <a href="" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        <button id="export_excel" type="button" class="btn btn-round btn-default" onclick=export_excel()><i class="glyphicon glyphicon-download-alt"></i></button>

                    </div>

                </div>
                <div class="box-content">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
						<tr>
							<th>序号</th>
							<th width="60%">反馈内容</th>
							<th>反馈人</th>
							<th>联系电话</th>
							<th>操作</th>
						</tr>
                        </thead>
                        <tbody>
                        {% for i in feedback_list %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                                <td class="words">{{ i.1 }}</td>
                                <td class="words">{{ i.2 }}</td>
                                <td class="words">{{ i.3 }}</td>
                             <td style="width: 50px;" >

                                    <!--删除-->

{#                                    <a class="btn btn-danger"  onclick="del(event,chuanzhi={{ i.7 }});">#}
{#                                    <i class="glyphicon glyphicon-trash icon-white"></i>#}
{#                                    </a>#}
                                    <a class="btn btn-danger glyphicon glyphicon-trash icon-white" onclick="del(event,chuanzhi={{ i.0 }});">
                                    </a>
                                </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div><!--/span-->

    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    <!-- Ad, you can remove it -->
    <div class="row">
        
        

    </div>
    <!-- Ad ends -->

    <hr>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


    </div>

    

</div>
<!-- external javascript -->

{#<script src="./head_left__files/bootstrap.min.js.下载"></script>#}

<!-- library for cookie management -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="/static/js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='/static/bower_components/moment/min/moment.min.js'></script>
<script src='/static/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='/static/js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="/static/bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="/static/bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="/static/js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="/static/bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="/static/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="/static/js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="/static/js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="/static/js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="/static/js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="/static/js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="/static/js/charisma.js"></script>



</body>
</html>